/* CSS CLEANER */
html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  ul, ol {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
/* CSS CLEANER */

/* FONTS */
@font-face {
    font-family: "Sora Regular";
    src: url("fonts/Sora-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Sora Bold";
  src: url("fonts/Sora-Bold.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}
/* FONTS */

body {
    font-family: "Sora Regular";
    background-color: #FAF8F5;
}

h2, h3 {
  font-family: "Sora Bold";
}


/* HEADER */
/* Style de base */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8BA888;
  padding: 15px;
  position: relative;
  z-index: 2;
}

/* Logo du header */
.header-logo {
  height: 50px;
  z-index: 3;
}

/* Style du bouton burger */
.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

/* Style de l'icône SVG dans le bouton burger */
.burger-menu .burger-icon {
  width: 100%;
  height: auto;
}

/* Menu */
nav.menu {
  display: flex;
  gap: 20px;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  /* Masquer le menu par défaut */
  nav.menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #8BA888;
      text-align: center;
      padding-top: 20px;
      z-index: 5;
  }

  /* Affichage du bouton burger */
  .burger-menu {
      display: flex;
      z-index: 10;
  }

  /* Afficher le menu quand il a la classe "active" */
  nav.menu.active {
      display: block;
  }

  /* Adapter les liens du menu pour qu'ils soient affichés verticalement */
  nav.menu a {
      display: block;
      padding: 15px;
      font-size: 1.2rem;
      color: #262626;
      text-decoration: none;
      border-top: 1px solid #262626;
  }

  /* Ajouter un border-top au premier lien "Accueil" quand le menu est ouvert */
  nav.menu.active a:first-child {
      border-top: 1px solid #262626;
  }

  /* Retirer le border-top sur le premier lien "Accueil" quand le menu est fermé */
  nav.menu a:first-child {
      border-top: none;
  }

  /* Ajouter un border-bottom au dernier lien "À propos" quand le menu est ouvert */
  nav.menu.active a:last-child {
      border-bottom: 1px solid #262626;
  }

  nav.menu a:hover {
    color: #FAF8F5;
  }
}

@media screen and (min-width: 769px) {
  /* Affichage classique du menu horizontal */
  nav.menu {
    display: flex;
    position: static;
    background-color: transparent;
    text-align: initial;
    padding-top: 0;
  }

  /* Masquer le bouton burger sur les grands écrans */
  .burger-menu {
    display: none;
  }

  /* Adapter les liens du menu pour les grands écrans */
  nav.menu a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #262626;
    text-decoration: none;
  }

  /* Assurez-vous que les liens sont visibles et non cachés */
  nav.menu a:hover {
    color: #FAF8F5;
  }
}
/* HEADER */

/* FOOTER */
/* Styles de base pour le footer */
footer {
  background-color: #8BA888; /* Couleur de fond sombre */
  padding: 30px 0; /* Espacement en haut et en bas du footer */
}

.footer {
  margin: 0 auto; /* Centrer le footer */
  padding: 0 20px; /* Espacement intérieur gauche et droite */
  display: flex;
  justify-content: space-between; /* Espacement entre les sections */
  align-items: center; /* Alignement vertical des éléments */
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: flex-start; /* Alignement des logos à gauche */
  gap: 20px; /* Espacement entre les logos */
}

.footer-logos img {
  height: 30px; /* Taille des logos */
  width: auto;
}

/* Styles pour les liens du footer */
.footer-links {
  display: flex;
  justify-content: flex-end; /* Alignement des liens à droite */
  gap: 20px; /* Espacement entre les liens */
}

.footer-links a {
  color: #262626; /* Liens en blanc */
  text-decoration: none; /* Pas de soulignement */
  font-size: 14px; /* Taille de police des liens */
}

.footer-links a:hover {
  color: #FAF8F5;
}

/* Responsivité : pour les petits écrans, les éléments se wrap et sont centrés */
@media (max-width: 768px) {
  .footer {
      flex-direction: column; /* Empile les éléments en colonne */
      align-items: center; /* Centrer tous les éléments sur mobile */
      padding: 20px;
      text-align: center; /* Centrer le texte sur mobile */
  }

  .footer-logos, .footer-links {
      flex-wrap: wrap; /* Permet aux éléments de se wrap sur plusieurs lignes */
      gap: 10px; /* Espacement réduit entre les éléments */
      justify-content: center; /* Centrer les éléments dans chaque section */
  }

  .footer-links {
      margin-top: 20px; /* Espacement entre les logos et les liens sur mobile */
      flex-direction: column; /* Empiler les liens en colonne */
  }

  /* Changer l'ordre des éléments sur mobile pour que "Plan du site" apparaisse après "Mentions légales" */
  .footer-links a:nth-child(1) {
      order: 1; /* Mentions légales en premier */
  }

  .footer-links a:nth-child(2) {
      order: 2; /* Plan du site en deuxième */
  }
}
/* FOOTER */

/* CARROUSEL */
.carrousel {
  position: relative;
  width: 100%;
  overflow: hidden; /* Masquer les autres images */
  z-index: 1; /* Le carrousel est en dessous du menu et du burger */
}

/* Contenu du carrousel avec les slides */
.carrousel-contenu {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative; /* Important pour la gestion de la superposition */
}

/* Chaque slide prend 100% de la largeur du carrousel */
.slide {
  width: 100%;
  flex-shrink: 0; /* Empêche les images de se réduire */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Important pour la gestion de la superposition */
}

/* Assurer que l'image prend toute la largeur et reste proportionnelle */
.slide img {
  width: 100%; /* L'image prend toute la largeur de la slide */
  height: auto; /* L'image garde ses proportions */
  z-index: 1; /* Les images sont sous les contrôles mais restent cliquables */
  pointer-events: auto; /* Permet de cliquer sur les images */
}

/* Contrôles (précédent et suivant) */
.carrousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2; /* Les boutons doivent être au-dessus des images */
  pointer-events: auto; /* Permet de cliquer sur les boutons */
}

/* Style des boutons SVG */
.carrousel-controls button {
  background: none;
  border: none;
  padding: 5px;  /* Réinitialise le padding pour maintenir la taille originale */
  cursor: pointer;
  z-index: 3; /* Les boutons sont au-dessus des images */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto; /* Les boutons sont cliquables */
}

/* Positionner les boutons à gauche et à droite */
#prev {
  left: 10px;  /* Positionnement du bouton précédent */
}

#next {
  right: 10px;  /* Positionnement du bouton suivant */
}

.carrousel-controls img {
  width: 100px;  /* Taille originale des icônes SVG */
  height: 100px; /* Taille originale des icônes SVG */
}

@media (max-width: 768px) {
  .carrousel-controls img {
    width: 50px;  /* Ajuste la taille des icônes SVG sur les petits écrans */
    height: 50px;
  }
}
/* CARROUSEL */

/* NEWSLETTER */
.newsletter {
  position: relative;
  background-image: url("assets/accueil-newsletter-1.jpg"); /* Remplace par l'URL de ton image */
  background-size: cover; /* L'image prend tout l'espace */
  background-position: center; /* L'image est centrée */
  padding: 40px 0; /* Marge intérieure pour la newsletter */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* Hauteur minimale */
  text-align: center;
  color: #FAF8F5;
}

.newsletter-contenu {
  background-color: rgba(96, 102, 96, 0.75); /* Fond gris avec transparence */
  margin: 0 15px;
  padding: 20px 30px;
  border-radius: 10px; /* Coins arrondis */
  max-width: 600px; /* Limite de largeur */
  width: 100%;
}

/* Styles pour le texte de la newsletter */
.newsletter-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.newsletter-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Styles pour le formulaire */
.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-input input {
  padding: 10px;
  font-size: 14px;
  width: 70%; /* Largeur de l'input */
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Styles pour le bouton avec l'image SVG */
.newsletter-input button {
  padding: 0; /* On enlève le padding, car on n'a pas besoin de marge intérieure */
  background-color: transparent; /* Le bouton n'a pas de fond */
  border: none; /* On enlève la bordure */
  cursor: pointer; /* Le curseur change pour indiquer que c'est cliquable */
  display: inline-flex; /* Utilisation de flexbox pour aligner correctement l'image */
  align-items: center;
  justify-content: center;
}

/* Taille et alignement de l'icône SVG */
.newsletter-icon {
  width: 41px; /* Taille de l'image, à ajuster */
  height: 41px; /* Taille de l'image, à ajuster */
  object-fit: contain; /* L'image conserve ses proportions */
}

@media (min-width: 768px) {
  .newsletter {
      margin: 100px 50px 75px;
      border-radius: 20px;
  }
}
/* NEWSLETTER */

/* NOUVEAUTES */
/* Section .featured */
.featured {
  text-align: center;
  margin: 50px 0px;
}

.featured h2 {
  margin-bottom: 50px;
}

/* Style pour la liste des produits */
.features-contenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Espacement entre les éléments */
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.features-contenu li {
  text-align: center;
  width: 22%; /* Largeur de l'élément pour un affichage sur une seule ligne */
  margin-bottom: 20px;
  box-sizing: border-box; /* Pour que le padding/margin ne dépasse pas la largeur de l'élément */
  transition: transform 0.3s ease;
}

.features-contenu li:hover {
  transform: scale(1.05);
}

.features-contenu a {
  display: block;
}

.features-contenu img {
  width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
  max-width: 300px; /* Limite la taille de l'image à 300px de large */
  height: auto; /* Conserve les proportions */
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* Optionnel : pour arrondir les coins de l'image */
}

.features-contenu a + a {
  color: #262626;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

/* Mise en forme du bouton */
.button {
  background-color: #8BA888;
  color: #000000;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #7a9e7a;
}

/* Réactivité : Affichage sur une seule ligne sur grand écran, 2 éléments par ligne en dessous de 768px */
@media screen and (max-width: 768px) {
  .features-contenu ul {
      justify-content: center; /* Centrer les éléments de la liste sur petits écrans */
  }

  .features-contenu li {
      width: 44%; /* Ajuste la largeur à 48% pour avoir 2 éléments par ligne */
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .features-contenu img {
      max-width: 200px; /* Réduit un peu la taille des images pour s'adapter à l'écran plus petit */
  }
}
/* NOUVEAUTES */

/* HISTOIRE */
.about {
  margin-top: 75px;
  margin-bottom: 75px;
}

.about h2 {
  text-align: center;
}

.about p {
  margin-bottom: 50px;
}

/* Conteneur principal */
.about-contenu-1 {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer le contenu horizontalement */
  gap: 20px;
  width: 80%;
  max-width: 1200px; /* Limite la largeur maximale */
  margin: 50px auto; /* Centrage du conteneur */
}

/* Style de l'image */
.about-contenu-1 img {
  width: 50%; /* L'image occupe 50% de la largeur */
  height: auto;
  border-radius: 8px; /* Optionnel : pour arrondir les coins de l'image */
}

/* Section texte */
.about-text-1 {
  flex: 1; /* Le texte occupe l'espace restant */
}

/* Media query pour les écrans plus petits (moins de 768px) */
@media screen and (max-width: 768px) {
  .about-contenu-1 {
      flex-direction: column; /* En mode mobile, empile l'image et le texte */
      align-items: center; /* Centre les éléments */
      text-align: center; /* Centrer le texte dans la section */
  }

  .about-contenu-1 img {
      width: 80%; /* L'image occupe 80% de la largeur sur mobile */
  }

  .about-text-1 {
      width: 90%; /* Le texte occupe 90% de la largeur sur mobile */
  }
}

/* Conteneur principal */
.about-contenu-2 {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer le contenu horizontalement */
  gap: 20px;
  width: 80%;
  max-width: 1200px; /* Limite la largeur maximale */
  margin: 75px auto; /* Centrage du conteneur */
  flex-direction: row-reverse; /* Positionner l'image à droite */
}

/* Style de l'image */
.about-contenu-2 img {
  width: 50%; /* L'image occupe 50% de la largeur */
  height: auto;
  border-radius: 8px; /* Optionnel : pour arrondir les coins de l'image */
}

/* Section texte */
.about-text-2 {
  flex: 1; /* Le texte occupe l'espace restant */
}

/* Media query pour les écrans plus petits (moins de 768px) */
@media screen and (max-width: 768px) {
  .about-contenu-2 {
      flex-direction: column; /* En mode mobile, empile l'image et le texte */
      align-items: center; /* Centre les éléments */
      text-align: center; /* Centrer le texte dans la section */
  }

  .about-contenu-2 img {
      width: 80%; /* L'image occupe 80% de la largeur sur mobile */
  }

  .about-text-2 {
      width: 90%; /* Le texte occupe 90% de la largeur sur mobile */
  }
}

/* HISTOIRE */

/* CATEGORIES */

.category {
margin: 50px auto;
}

.category h2{
  display: flex;
  justify-content: center;  /* Centre horizontalement */
  align-items: center;      /* Centre verticalement */
  text-align: center;       /* Centre le texte à l'intérieur du h2 */
}

/* Style global pour la catégorie */
.category-contenu {
  padding: 20px;
  background-color: #f9f9f9;
}

/* Style de la liste */
.category-contenu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style des éléments de la liste */
.category-contenu li {
  text-align: center;
  position: relative;
  width: 30%;
}

/* Style des images */
.category-contenu img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

/* Effet de zoom sur l'image au survol */
.category-contenu img:hover {
  transform: scale(1.05);
}

/* Style du lien/button */
.category-contenu .button {
  display: inline-block;
  margin-top: 20px;
}

/* Effet de survol sur le bouton */
.category-contenu .button:hover {
  background-color: #7a9e7a;
}

/* Media Query pour les écrans plus petits */
@media (max-width: 768px) {
  .category-contenu ul {
      flex-direction: column;
      align-items: center;
  }
  .category-contenu li {
      width: 80%;
      margin-bottom: 20px;
  }
}

/* CATEGORIES */