/* FONTS */
@font-face {
  font-family: "Sora Regular";
  src: url("fonts/Sora-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "Sora Bold";
src: url("fonts/Sora-Bold.ttf") format(truetype);
font-weight: bold;
font-style: normal;
}
/* FONTS */

/* CSS CLEANER */
html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  ul, ol {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
/* CSS CLEANER */

body {
    font-family: "Sora Regular";
    background-color: #FAF8F5;
}

h2, h3 {
  font-family: "Sora Bold";
  color: #262626;
}

p {
  color: #262626;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8BA888;
  padding: 15px;
  position: relative;
  z-index: 2;
}

.header-logo-small {
  display: block;
  height: 50px;
  z-index: 3;
}

.header-logo-large {
  display: none;
  height: 50px;
  z-index: 3;
}

.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.burger-menu .burger-icon {
  width: 100%;
  height: auto;
}

nav.menu {
  display: flex;
  gap: 20px;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  nav.menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #8BA888;
      text-align: center;
      padding-top: 20px;
      z-index: 5;
  }

  .burger-menu {
      display: flex;
      z-index: 10;
  }

  nav.menu.active {
      display: block;
  }

  nav.menu a {
      display: block;
      padding: 15px;
      font-size: 1.2rem;
      color: #262626;
      text-decoration: none;
      border-top: 1px solid #262626;
  }

  nav.menu.active a:first-child {
      border-top: 1px solid #262626;
  }

  nav.menu a:first-child {
      border-top: none;
  }

  nav.menu.active a:last-child {
      border-bottom: 1px solid #262626;
  }

  nav.menu a:hover {
    color: #FAF8F5;
  }
}

@media screen and (min-width: 769px) {
  .header-logo-small {
    display: none;
  }

  .header-logo-large {
    display: block;
  }

  nav.menu {
    display: flex;
    position: static;
    background-color: transparent;
    text-align: initial;
    padding-top: 0;
  }

  .burger-menu {
    display: none;
  }

  nav.menu a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #262626;
    text-decoration: none;
  }

  nav.menu a:hover {
    color: #FAF8F5;
  }
}
/* HEADER */

/* FOOTER */
footer {
  background-color: #8BA888; 
  padding: 30px 0; 
}

.footer {
  margin: 0 auto; 
  padding: 0 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: flex-start; 
  gap: 20px; 
}

.footer-logos img {
  height: 30px;
  width: auto;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px; 
}

.footer-links a {
  color: #262626;
  text-decoration: none; 
  font-size: 14px; 
}

.footer-links a:hover {
  color: #FAF8F5;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column; 
      align-items: center;
      padding: 20px;
      text-align: center; 
  }

  .footer-logos, .footer-links {
      flex-wrap: wrap; 
      gap: 10px; 
      justify-content: center; 
  }

  .footer-links {
      margin-top: 20px; 
      flex-direction: column; 
  }

  .footer-links a:nth-child(1) {
      order: 1; 
  }

  .footer-links a:nth-child(2) {
      order: 2; 
  }
}
/* FOOTER */

/* CARROUSEL */
.carrousel {
  position: relative;
  width: 100%;
  overflow: hidden; 
  z-index: 1; 
}

.carrousel-contenu {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative; 
}

.slide {
  width: 100%;
  flex-shrink: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.slide img {
  width: 100%; 
  height: auto; 
  z-index: 1; 
  pointer-events: auto;
}

.carrousel-controls button {
  background: none;
  border: none;
  padding: 5px; 
  cursor: pointer;
  z-index: 3; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto; 
}

#prev {
  left: 10px; 
}

#next {
  right: 10px; 
}

.carrousel-controls img {
  width: 100px;  
  height: 100px; 
}

@media (max-width: 768px) {
  .carrousel-controls img {
    width: 50px;  
    height: 50px;
  }
}
/* CARROUSEL */

/* NEWSLETTER */
.newsletter {
  position: relative;
  background-image: url("assets/accueil-newsletter-1.jpg"); 
  background-size: cover; 
  background-position: center; 
  padding: 40px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; 
  text-align: center;
  color: #FAF8F5;
}

.newsletter-contenu {
  background-color: rgba(96, 102, 96, 0.75); 
  margin: 0 15px;
  padding: 20px 30px;
  border-radius: 10px; 
  max-width: 600px; 
  width: 100%;
}

.newsletter-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #FAF8F5;
}

.newsletter-text p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #FAF8F5;
}

.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-input input {
  padding: 10px;
  font-size: 14px;
  width: 70%; 
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.newsletter-input button {
  padding: 0; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.newsletter-icon {
  width: 41px; 
  height: 41px; 
  object-fit: contain; 
}

@media (min-width: 768px) {
  .newsletter {
      margin: 100px 50px 75px;
      border-radius: 20px;
  }
}
/* NEWSLETTER */

/* NOUVEAUTES */
.featured {
  text-align: center;
  margin: 50px 0px;
}

.featured h2 {
  margin-bottom: 50px;
}

.features-contenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.features-contenu li {
  text-align: center;
  width: 22%; 
  margin-bottom: 20px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.features-contenu li:hover {
  transform: scale(1.05);
}

.features-contenu a {
  display: block;
}

.features-contenu img {
  width: 100%;
  max-width: 300px; 
  height: auto; 
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.features-contenu a + a {
  color: #262626;
  text-decoration: none;
  margin-top: 10px;
}

.button {
  background-color: #8BA888;
  color: #262626;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #7a9e7a;
}

@media screen and (max-width: 768px) {
  .features-contenu ul {
      justify-content: center; 
  }

  .features-contenu li {
      width: 44%;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .features-contenu img {
      max-width: 200px;
  }
}
/* NOUVEAUTES */

/* HISTOIRE */
.history {
  margin-top: 75px;
  margin-bottom: 75px;
}

.history h2 {
  text-align: center;
}

.history p {
  margin-bottom: 50px;
}

.history-contenu-1 {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
}

.history-contenu-1 img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.history-text-1 {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .history-contenu-1 {
      flex-direction: column;
      align-items: center; 
      text-align: center;
  }

  .history-contenu-1 img {
      width: 80%; 
  }

  .history-text-1 {
      width: 90%;
  }
}

.history-contenu-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 75px auto;
  flex-direction: row-reverse;
}

.history-contenu-2 img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.history-text-2 {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .history-contenu-2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .history-contenu-2 img {
      width: 80%;
  }

  .history-text-2 {
      width: 90%;
  }
}
/* HISTOIRE */

/* CATEGORIES PRODUITS */
.category {
margin: 50px 50px;
}

.category h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-contenu {
  padding: 20px;
  background-color: #f9f9f9;
}

.category-contenu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-contenu li {
  text-align: center;
  position: relative;
  width: 30%;
}

.category-contenu img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.category-contenu img:hover {
  transform: scale(1.05);
}

.category-contenu .button {
  display: inline-block;
  margin-top: 20px;
}

.category-contenu .button:hover {
  background-color: #7a9e7a;
}

@media (max-width: 768px) {

  .category {
    margin: 50px auto;
    }

  .category-contenu ul {
      flex-direction: column;
      align-items: center;
  }
  .category-contenu li {
      width: 80%;
      margin-bottom: 20px;
  }
}
/* CATEGORIES PRODUITS*/

/* PRODUITS NOUVEAUTES */
.produits-featured {
  margin: 50px 0px;
}

.produits-featured h2 {
  margin-bottom: 50px;
  text-align: center;
}
.produits-features-contenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.produits-features-contenu li {
  text-align: center;
  width: 22%;
  margin-bottom: 20px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.produits-features-contenu li:hover {
  transform: scale(1.05);
}

.produits-features-contenu a {
  display: block;
}

.produits-features-contenu img {
  width: 100%;
  max-width: 300px; 
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.produits-features-contenu a + a {
  color: #262626;
  text-decoration: none;
  margin-top: 10px;
}

.featured-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.featured-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.featured-controls img {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 768px) {
  .produits-features-contenu ul {
      justify-content: center;
  }

  .produits-features-contenu li {
      width: 44%;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .produits-features-contenu img {
      max-width: 200px; 
  }

  .featured-controls img {
    width: 50px;
    height: 50px;
  }
}
/* PRODUITS NOUVEAUTES */

/* PRODUITS CARROUSEL */
.carousel-container {
  width: 100%;
  position: relative;
}

.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
}

.carousel-item {
  min-width: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
}

.controls-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #262626;
  padding: 10px;
  margin-top: -1px;
  width: 100%;
}

.carousel-caption {
  font-size: 18px;
  color: #FAF8F5;
  text-align: left;
  padding-left: 20px;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.controls button img {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 768px) {
  .controls-container {
    justify-content: space-between;
  }

  .controls button img {
    width: 50px;
    height: 50px;
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrousel-contenu {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}
/* PRODUITS CARROUSEL */

/* CATEGORIES */
.categories-featured {
  margin: 50px 0px;
}

.categories-featured h2 {
  margin-bottom: 50px;
  text-align: center;
}
.categories-features-contenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.categories-features-contenu li {
  text-align: center;
  width: 22%;
  margin-bottom: 20px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.categories-features-contenu li:hover {
  transform: scale(1.05);
}

.categories-features-contenu a {
  display: block;
}

.categories-features-contenu img {
  width: 100%;
  max-width: 300px; 
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.categories-features-contenu a + a {
  color: #262626;
  text-decoration: none;
  margin-top: 10px;
}

.categories-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.categories-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.categories-controls img {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 768px) {
  .categories-features-contenu ul {
      justify-content: center;
  }

  .categories-features-contenu li {
      width: 44%;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .categories-features-contenu img {
      max-width: 200px; 
  }

  .categories-controls img {
    width: 50px;
    height: 50px;
  }
}
/* CATEGORIES */

/* ACTUALITES */
.articles {
  margin: 50px 0px;
}

.articles h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #262626;
}

.articles-contenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  list-style: none;
  margin-bottom: 25px;
}

.articles-contenu li {
  width: 28%;
  margin-bottom: 50px;
}

.articles-contenu a {
  text-decoration: none;
  color: #262626;
}

.articles-contenu p {
  text-align: justify;
  margin-bottom: 30px;
  color: #262626;
}

.articles-contenu img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 30px;
  border-radius: 8px;
  object-fit: cover;
}

.button-articles {
  background-color: #8BA888;;
  color: #262626;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-articles:hover {
  background-color: #7a9e7a;
}

@media (max-width: 768px) {

  .articles {
    margin: 50px auto;
  }

  .articles-contenu ul {
    flex-direction: column;
    align-items: center;
  }
  .articles-contenu li {
    width: 80%;
    margin-bottom: 50px;
  }

  .articles-contenu img {
    max-width: 100%; 
    height: auto;
  }
}
/* ACTUALITES */

/* À PROPOS */
.about {
  margin-top: 75px;
  margin-bottom: 75px;
}

.about h2 {
  text-align: center;
}

.about-contenu-1 {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
}

.about-contenu-1 img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.about-text-1 {
  flex: 1;
}

.about-contenu-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  flex-direction: row-reverse;
}

.about-contenu-2 img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.about-text-2 {
  flex: 1;
}

.horaires h2{
  text-align: center;
}

.horaires p {
  text-align: center;
  margin-top: 50px;
}

.horaires-table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid #262626;
}

.horaires-table td {
  padding: 12px 16px;
  text-align: center;
  color: #262626;
  border-bottom: 1px solid #262626;
  border-right: 2px solid #262626;
}

.map h2 {
  text-align: center;
  margin-bottom: 50px;
}

.map p {
  text-align: center;
}

.map iframe {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #262626;
  width: 80%;
  height: 800px;
}

@media screen and (max-width: 768px) {
  .about-contenu-1 {
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }

  .about-contenu-1 img {
    width: 80%; 
  }

  .about-text-1 {
    width: 90%;
  }

  .about-contenu-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-contenu-2 img {
    width: 80%;
  }

  .about-text-2 {
    width: 90%;
  }

  .map iframe {
    width: 100%;
    height: 400px;
  }
}
/* À PROPOS */

/* LEGALS */
.legals {
  width: 80%;
  margin: 50px auto;
} 
/* LEGALS */